@import "tailwindcss";

@theme {
  --color-brand-light: #fef2f2;
  --color-brand: #dc2626;
  --color-brand-dark: #991b1b;
}

@layer base {
  body {
    background-color: #ffffff;
    color: #1e293b;
    -webkit-font-smoothing: antialiased;
  }
}
